{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block titulo %}{% endblock titulo %}</title>
  </head>
  <body>
    <section id="header">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <h2 class="mt-4">
              Departamento de Ing. en Sistemas de Información 
              <small class="text-muted">Facultad Regional La Plata</small>
            </h2>
          </div>
          <div class="col-4">
            <img src="{% static 'img/logo.png' %}" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section id="menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">Sistemas</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Academico
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Syllabus</a>
                  <a class="dropdown-item" href="#">Postergaciones</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Profesores</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Publicaciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Eventos</a>
                  <a class="dropdown-item" href="#">FAQ</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Infraestructura
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Aulas</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Documentación
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Ordenanzas</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    {% block contenido %}
    {% endblock contenido %}
    <section id="footer">
      <div class="container">
        <div class="row pt-3 pb-3">
          <div class="col-4">
            <address>
              <strong>Dto sistemas</strong><br>
              Av.60 esq. 124 s/n<br>
              Berisso, Buenos Aires, Argentina<br>
              <abbr title="Phone">Tel:</abbr> (0221) 412- 4300<br>
              sistemas@frlp.utn.edu.ar
            </address>
          </div>
          <div class="col-4">
            <h5 class="footer-title">Enlaces</h5>
            <ul class="list-unstyled">
              <li><a href="http://frlp.utn.edu.ar" onclick="return ! window.open(this.href);">FRLP</a></li>
              <li><a href="http://alumnos.frlp.utn.edu.ar" onclick="return ! window.open(this.href);">Alumnos WEB</a></li>
              <li><a href="http://www.lines.edu.ar" onclick="return ! window.open(this.href);">Laboratorio LINES</a></li>
              <li><a href="http://www.linsi.edu.ar" onclick="return ! window.open(this.href);">Laboratorio LINSI</a></li>
            </ul>
          </div>
          <div class="col-4">
            <blockquote class="blockquote">
              <p class="mb-0">Sencillo puede ser más difícil que complejo: tienes que trabajar duro para despejar la mente y hacer las cosas sencillas.</p>
              <footer class="blockquote-footer">Steve Jobs</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>